#formpane {
/*        -fx-background-color:  linear-gradient(gray,DimGrey );*/
        -fx-border-color: black;
        -fx-border-radius: 20;
        -fx-padding: 10 10 10 10;
        -fx-background-radius: 20;
         -fx-border-color:#006f8a;
}
.root {
         -fx-background-color:  linear-gradient(lightgray, gray);
       
}
.button {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color:       linear-gradient(orange, orangered );
}
#title {
        -fx-fill:  linear-gradient(orange , orangered);
/*        -fx-effect: dropshadow(three-pass-box, darkblue, 10, 0, 0, 0);*/
        
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#titlepane{
    -fx-background-color:#006f8a;
}
