.root{
         -fx-background-color:  linear-gradient(lightgray, gray);
       
}
#titlepane{
-fx-background-color:#006f8a;
       
}
#buttonpane {
/*        -fx-background-color:  linear-gradient(gray,DimGrey );*/
        -fx-border-color:#006f8a;
        
}
.button {
    -fx-background-color:lightgray;
}
#title {
        -fx-fill:  linear-gradient(orange , orangered);
/*        -fx-effect: dropshadow(three-pass-box, darkblue, 10, 0, 0, 0);*/
        
}
.button:hover {
    -fx-background-color: linear-gradient(lightgray, white);
}